.shoppingCart {
    margin-top: 5.5em;
}

.shoppingCart__line {
    display: grid;
    grid-template-columns: 45% 1fr 1fr 1fr 1fr 1fr;
}

.shoppingCart_productDetails {
    display: flex;
}

.shoppingCart__heading {
    font-size: 13px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.shoppingCart__headingName {
    /*justify-self: center;*/
    text-align: center;
}

.shoppingCart__productName,
.shoppingCart__productInfo {
    display: block;
}

.shoppingCart__productName {
    font-size: 13px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    margin-bottom: 2.9em;
}

.shoppingCart__productInfo {
    font-size: 13px;
    color: rgb(87, 87, 87);
    line-height: 1.538;
}

.shoppingCart__productInfo_spec {
    font-size: 13px;
    color: rgb(87, 87, 87);
    line-height: 1.538;
    opacity: 0.7;
    margin-left: 5px;
}

.shoppingCart__data {
    font-size: 13px;
    color: rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart__data,
.shoppingCart_productDetails,
.shoppingCart__deleteWrapper,
.shoppingCart__dataInput {
    padding-bottom: 1.5em;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.shoppingCart__dataInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart__quantityWrap {
    width: 4em;
    height: 2em;
    border: 1px solid rgb(234, 234, 234);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart__quantity {
    font-size: 13px;
    color: rgb(101, 101, 101);
}

.shoppingCart__quantityBtn {
    border: none;
    background-color: transparent;
    color: rgb(101, 101, 101);
}

.shoppingCart__quantityBtn:hover {
    color: rgb(27, 27, 27);
}

.shoppingCart__deleteWrapper {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}
/*поместить в центр ячейки*/

.shoppingCart__delete {
    fill: #c0c0c0;
}

.shoppingCart__deleteWrapper:hover .shoppingCart__delete {
    fill: #797676;
}

.shoppingCart__detailsWrapper {
    margin-left: 1.6em;
    margin-top: 1em;
}

.shoppingCart__button {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2em
}

.shoppingCart__buttonClear,
.shoppingCart__buttonContinue {
    font-size: 14px;
    color: rgb(74, 74, 74);
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 17em;
    height: 3.5em;
    border: 1px solid rgb(234, 234, 234);
}

.shoppingCart__buttonClear:hover,
.shoppingCart__buttonContinue:hover {
    background-color: rgb(234, 234, 234);
}

.shoppingCart__buttonClear:focus,
.shoppingCart__buttonContinue:focus {
    outline: none;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.ordering {
    position: relative;
    display: flex;
    margin-top: 3.9em;
    margin-bottom: 5em;
}

.ordering__delivery,
.ordering__discount {
    width: 34.2%;
}

.ordering__totalPrice {
    position: absolute;
    top: 0;
    right: 0;
    width: 31.6%;
    background-color: rgb(245, 243, 243);
    padding: 3.8%;
    height: 80%;
}

.ordering__address,
.ordering__addressDetails,
.ordering__quote,
.ordering__couponDiscount,
.ordering__discountText,
.ordering__discountCode,
.ordering__applyCode {
    display: block;
}

.ordering__address {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.4em;
    opacity: 0.5;
}

.ordering__addressDetails:focus {
    outline-color: rgb(241, 109, 127);
}

.ordering__addressDetails {
    height: 3.4em;
    width: 93%;
    margin-bottom: 1.6em;
    background-color: #ffffff;
    border: 1px solid rgb(234, 234, 234);
    font-size: 13px;
    color: rgb(177, 177, 177);
}

.ordering__quote {
    height: 3em;
    width: 9em;
    font-size: 11px;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border-color: rgb(234, 234, 234);
}

.ordering__couponDiscount {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.8em;
}

.ordering__discountText {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-bottom: 1.7em;
}

.ordering__discountCode {
    height: 3.4em;
    width: 93%;
    margin-bottom: 2em;
    background-color: #ffffff;
    border: 1px solid rgb(234, 234, 234);
    font-size: 13px;
    color: rgb(177, 177, 177);
}

.ordering__applyCode {
    font-size: 11px;
    color: rgb(74, 74, 74);
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 10.5em;
    height: 3em;
    border-color: rgb(234, 234, 234);
}

.ordering__subTotalWrapper,
.ordering__grandTotalWrapper {
    display: flex;
    justify-content: flex-end;
}

.ordering__grandTotalWrapper {
    margin-bottom: 2.6em;
}

.ordering__subTotalWrapper {
    margin-bottom: 1em;
}

.ordering__subTotal {
    font-size: 11px;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    margin-left: 1.1em;
}

.ordering__grandTotal {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 1em;
}

.ordering__grandTotalUsd {
    font-size: 16px;
    color: rgb(241, 109, 127);
    font-weight: 700;
    text-transform: uppercase;
}

.ordering__proceedButton {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(241, 109, 127);
    border-color: rgb(241, 109, 127);
    width: 100%;
    height: 3em;
}

.ordering__proceedButton:hover {
    opacity: 0.9;
}

.ordering__proceedButton:focus {
    outline: none;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.ordering__addressDetails:focus,
.ordering__discountCode:focus {
    outline-color: rgb(241, 109, 127);
}

.ordering__quote:hover,
.ordering__applyCode:hover,
.cartContinue:hover,
.cartProceed:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.ordering__quote:focus,
.ordering__applyCode:focus,
.cartContinue:focus,
.cartProceed:focus {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    outline: none;
    background-color: rgb(234, 234, 234);
}

.cartContinue,
.cartProceed {
    width: 100%;
    height: 3em;
    font-size: 11px;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    font-weight: 700;
    background-color: #eee;
    border-color: rgb(234, 234, 234);
}